*{
	/*color: #fff;*/
}
body{
	margin: 0;
	background-color: #373737;
	font-family: arial;
	color: #fff;
}
header{
	background-color: #ccc;
	height: 50px;
}
#logo{
	float: left;
	margin-left: 50px;
}
nav{
	float: right;
	margin-right: 50px;
	line-height: 50px;
}
nav a{
	padding: 15px;
	text-decoration: none;

}
.col{
	width: 480px;
	text-align: justify;
	float: left;
	margin:10px;
}
div.col h3{
	background-color: #ccc;
	padding: 15px;
} 
footer{
	clear: both;
	text-align: center;
}